/* body {
    margin: 0;
    color: #6a6f8c;
    background: #c8c8c8;
    font: 600 16px/18px 'Open Sans',sans-serif;
} */
*,
:after,
:before {
    box-sizing: border-box;
}
.clearfix:after,
.clearfix:before {
    content: '';
    display: table;
}
.clearfix:after {
    clear: both;
    display: block;
}
a {
    color: inherit;
    text-decoration: none;
}

.login-wrap {
    width: 100%;
    max-width: 525px;
    min-height: 700px;
    position: relative;
    /* background: url("https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg") no-repeat center; */
    box-shadow: 0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 40px 30px;
    /* background: rgba(40,57,101,.9); */
}
#thead_style, .tbody_style{
    text-align: center;
}

#map{
    top: -50px;
}
.login-html .sign-in-htm,
.login-html .sign-up-htm {
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: all 0.4s linear;
}

.login-html .sign-in,
.login-html .sign-up {
    display: none;
}
.login-html .tab {
    font-size: 22px;
    margin-right: 15px;
    padding-bottom: 5px;
    margin: 0 15px 10px 0;
    display: inline;
    border-bottom: 2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab {
    color: #424242;/* color: #fffdff; */
    border-color:#9796f0;
}
.login-form {
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm {
    transform: rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm {
    transform: rotate(0);
}